<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>802468400297-529l3dgjjptp7oietbs1knoo0h1psjvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802468400297-529l3dgjjptp7oietbs1knoo0h1psjvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCLHR8-CdsqABc_8wxc3z1poGvS1nPe2F8</string>
	<key>GCM_SENDER_ID</key>
	<string>802468400297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.PushTestApp</string>
	<key>PROJECT_ID</key>
	<string>lpes-d470f</string>
	<key>STORAGE_BUCKET</key>
	<string>lpes-d470f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802468400297:ios:48d6720f2d6b9612</string>
	<key>DATABASE_URL</key>
	<string>https://lpes-d470f.firebaseio.com</string>
</dict>
</plist>